.selected-view {
    background-color: #333;
    /* Change to your desired background color */
    color: white;
    /* Change to your desired text color */
  }
  
  
  .selected {
    border: 2px solid black;
  }