<div class="font-extralight text-2xl">
    <h1>Liste des sessions</h1>
</div>
<div class="w-full flex  items-center justify-start  flex-col h-[85vh] pt-2">
    <div class="w-full">
        <div class="lg:flex items-center justify-between">
            <button data-modal-target="top-right-modal" data-modal-toggle="top-right-modal"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-transparent border-0 cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in tracking-tight-soft bg-gradient-to-tl from-blue-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85 rounded">
                <p class="text-sm font-medium leading-none text-white">Planifier</p>

            </button>
            <!-- component -->
            <!-- This is an example component -->
            <div class="relative inline-flex">
                <select [(ngModel)]="selected"
                    class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                    <option>filtrer par module</option>
                    <option *ngFor="let item of cours" value="{{item.module}}">{{item.module}}</option>
                </select>
            </div>
            <div class="sm:flex items-center justify-between">
                <div class="flex items-center">
                    <a class="rounded-full focus:outline-none focus:ring-2  focus:bg-indigo-50 focus:ring-indigo-800"
                        href=" javascript:void(0)">
                        <div class="py-2 px-8 bg-indigo-100 text-indigo-700 rounded-full">
                            <button (click)="filterByState('')">
                                <p>Tout</p>
                            </button>
                        </div>
                    </a>
                    <a class="rounded-full focus:outline-none focus:ring-2 focus:bg-indigo-50 focus:ring-indigo-800 ml-4 sm:ml-8"
                        href="javascript:void(0)">
                        <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full "
                            [ngClass]="{'terminer-button': selectedState == 'valider', 'button-inactive': selectedState != 'valider'}">
                            <button (click)="filterByState('valider')">
                                <p>Terminé</p>
                            </button>
                        </div>
                    </a>
                    <a class="rounded-full focus:outline-none focus:ring-2 focus:bg-indigo-50 focus:ring-indigo-800 ml-4 sm:ml-8"
                        href="javascript:void(0)">
                        <div class="py-2 px-8 text-gray-600 hover:text-indigo-700 hover:bg-indigo-100 rounded-full"
                            [ngClass]="{'encours-button': selectedState == 'enAttente', 'button-inactive': selectedState != 'enAttente'}">
                            <button (click)="filterByState('enAttente')">
                                <p>En Cours</p>
                            </button>
                        </div>
                    </a>
                </div>
            </div>

            <div class="flex items-center">
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input type="date"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date start">
                </div>
                <span class="mx-4 text-gray-500">to</span>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input type="date"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date end">
                </div>
            </div>

        </div>
        <div class="bg-white shadow-md rounded my-6">
            <table class="min-w-max w-full table-auto">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Module</th>
                        <th class="py-3 px-6 text-left">professeur</th>
                        <th class="py-3 px-6 text-center">Classes</th>
                        <th class="py-3 px-6 text-center">etat</th>
                        <th class="py-3 px-6 text-center">salle</th>
                        <th class="py-3 px-6 text-center">Actions</th>
                    </tr>
                </thead>

                <tbody class="text-gray-600 text-sm font-light">
                    <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let item of sessions | filtreCours:selected | filtrerByState:selectedState | paginate 
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index">
                        <td class="py-3 px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="mr-2">
                                    <img class="w-6 h-6 rounded-full" src="{{item.photo}}" />
                                </div>
                                <span class="font-medium">{{item.cours}}</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-left">
                            <div class="flex items-center">
                                <div class="mr-2">
                                    <img class="w-6 h-6 rounded-full"
                                        src="https://randomuser.me/api/portraits/men/1.jpg" />
                                </div>
                                <span>{{item.professeur}}</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <div class="flex items-center  flex-col justify-center">
                                <div *ngFor="let item of item.classes" class=" rounded-full text-black border-gray-200">
                                    {{item.libelle}}
                                </div>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <span [ngClass]="{
                                'bg-red-500 text-white': item.etat == 'terminer',
                                'bg-green-500 text-white': item.etat == 'valider',
                                'bg-blue-500 text-white': item.etat == 'enAttente'
                            }" class="py-1 px-3 rounded-full text-xs">{{ item.etat }}</span>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <span
                                class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{item.salle}}</span>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <div class="flex item-center justify-center">
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                    </svg>
                                </div>
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                    </svg>
                                </div>
                                <button
                                    class="w-4 mr-2 transform cursor-pointer    hover:text-purple-500 hover:scale-110"
                                    (click)="annuler(item)">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true"
                                        class="text-blue-600" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-start">
        <pagination-controls previousLabel="Précédant" nextLabel="Suivant" (pageChange)="pagination($event)">
        </pagination-controls>
    </div>

</div>


<div id="top-right-modal" data-modal-placement="top-right" tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Planifier une session
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="top-right-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form [formGroup]="formSession" (ngSubmit)="add()">
                <div class="p-6 space-y-6">
                    <select (change)="select($event)" formControlName="cours_id"
                        class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full "
                        required="required" name="integration[city_id]" id="integration_city_id">
                        <option value="">Choisir la module</option>
                        <option [value]="item.id" *ngFor="let item of cours">{{item.module}}
                        </option>
                    </select>
                    <div class="flex flex-col" *ngIf="coures">
                        <label class="leading-loose">Professeur</label>
                        <input type="text" readonly formControlName="professeur"
                            class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-black"
                            [value]="this.coures[0].professeur">
                    </div>
                    <div class="flex flex-col">
                        <label class="leading-loose">Date</label>
                        <input type="date" formControlName="date"
                            class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                            placeholder="Optional">
                    </div>
                    <div class="flex items-center space-x-4">
                        <div class="flex flex-col">
                            <label class="leading-loose">Heure debut</label>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="time" formControlName="heure_debut"
                                    class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="25/02/2020">
                                <div class="absolute left-3 top-2">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <label class="leading-loose">Heure final</label>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="time" formControlName="heure_fin" (change)="search()"
                                    class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                                    placeholder="26/02/2020">
                                <div class="absolute left-3 top-2">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex">

                        <div class="flex items-center mr-4">
                            <label class="relative inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="" class="sr-only peer" (change)="check($event)">
                                <div
                                    class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                                </div>
                                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">En ligne</span>
                            </label>
                        </div>
                    </div>

                    <div class="mb-3 space-y-2 h-24 w-full text-xs">
                        <label class=" font-semibold text-gray-600 py-2">Choisir classe(s)</label>
                        <div class="flex flex-wrap items-stretch w-full h-10 mb-4 relative">
                            <ng-select bindLabel="name" bindValue="id" [multiple]="true" (change)="selectClasse($event)"
                                [closeOnSelect]="false"
                                class="flex-shrink flex-grow flex-auto leading-normal w-full    rounded-lg  relative focus:border-blue focus:shadow">
                                <ng-option *ngFor="let car of classes" [value]="car">{{car.classe}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="mb-3 space-y-2 h-24 w-full text-xs" *ngIf="!enLigne">
                        <label class=" font-semibold text-gray-600 py-2">La salle </label>
                        <select formControlName="salle_id" (change)="selectA($event)"
                            class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full "
                            required="required" name="integration[city_id]" id="integration_city_id">
                            <option value="">Choisir la salle</option>
                            <option value="{{item.id}}" *ngFor="let item of salles">{{item.libelle}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button data-modal-hide="top-right-modal" type="submit" [disabled]="formSession.invalid"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Planifier</button>
                    <button data-modal-hide="top-right-modal" type="button"
                        class="text-white bg-red-500  focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
                </div>
            </form>
            <!-- Modal footer -->

        </div>
    </div>
</div>