<div class="flex flex-row h-[85vh]">

  <div id="calendar-container" class="w-2/4">
    <div class="flex items-center justify-evenly my-3 ">
      <div id="cal-boutons">
        <div id="cal-date-nav-boutons" class="flex">
          <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view"
            class="bg-gradient-to-r from-blue-400 to-blue-500 text-white px-4 py-2 rounded-lg mr-2">Precedante</button>
          <button id="today" mwlCalendarToday [(viewDate)]="viewDate"
            class="bg-gradient-to-r from-blue-400 to-blue-500 text-white px-4 py-2 rounded-lg mr-2">Aujourd'hui</button>
          <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view"
            class="bg-gradient-to-r from-blue-400 to-blue-500 text-white px-4 py-2 rounded-lg">Suivant</button>
        </div>


      </div>
      <div id="cal-date-field" class="bg-blue-500 text-white px-4 py-2 rounded-lg">
        {{ viewDate | calendarDate:(view + 'ViewTitle') : 'fr' }}
      </div>



      <div id="cal-view-nav-butons" class="flex">
        <button id="month" (click)="setView(CalendarView.Month)"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-l-lg">Mois</button>
        <button id="week" (click)="setView(CalendarView.Week)"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2">Semaine</button>
        <button id="day" (click)="setView(CalendarView.Day)"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-r-lg">Jour</button>
      </div>

    </div>

    <span [ngSwitch]="view">
      <mwl-calendar-month-view [viewDate]="viewDate" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
        [events]="events" locale="fr" [excludeDays]="[0,6]">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view [viewDate]="viewDate" *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
        [events]="events" locale="fr" [excludeDays]="[0,6]" [dayStartHour]="8" [dayEndHour]="16">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view [viewDate]="viewDate" *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate"
        [events]="events" locale="fr" [dayStartHour]="8" [dayEndHour]="16">
      </mwl-calendar-day-view>
    </span>
  </div>
  <div class="flex h-full w-full bg-slate-400 p-5">
    <h2>Liste des cours à planier </h2>

  </div>

</div>